<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonFastAPI" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="c:\Users\User\Desktop\OCR\backend\venv\Scripts\python.exe"
                  arguments="-X utf8 -m uvicorn app.main:app --port %HTTP_PLATFORM_PORT% --host 127.0.0.1"
                  stdoutLogEnabled="true"
                  stdoutLogFile="c:\Users\User\Desktop\OCR\backend\logs\python.log"
                  startupTimeLimit="60">
      <environmentVariables>
        <environmentVariable name="PYTHONUTF8" value="1" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
